$bg-color: #023f55;
$main-color: #ffffff;
$second-color: #d2d2d2;
$dark-grey-color: #707070;
$grey-color: #a5a5a5;
$light-grey-color: #c7c7c7;
$special-color: #46f6ea;
$light-blue-color: #006fff;
